@import url('https://fonts.googleapis.com/css2?family=Itim&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yuji+Syuku&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sulphur+Point:wght@300;400;700&family=Yuji+Syuku&display=swap');

.navbar a{
    font-family: 'Itim';
    text-decoration: none;
    font-size: 20px;
}


.feature-icon i {
    font-size: 80px;
}

.Best-Product-Container img {
    width: 50;
}

.title-product {
    font-family: 'Sulphur Point';
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    bottom: -220%;
    left: 30%;
}

.desc-product {
    font-family: 'Yuji Suku';
    font-size: 18px;
    position: absolute;
    bottom: -230%;
    left: 30%;
    width: 20%;
}


.text-content h1 {
    font-weight: 700;
    font-family: 'Sulphur Point';
    font-size: 20px;
}

.text-content h2 {
    font-family: 'Yuji Suku';
    font-size: 18px;
}

.title-product-3 {
    font-family: 'Sulphur Point';
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    bottom: -315%;
    left: 30%;
}

.desc-product-3 {
    font-family: 'Yuji Suku';
    font-size: 18px;
    position: absolute;
    bottom: -330%;
    left: 30%;
    width: 20%;
}

.title-about  {
    font-family: 'Itim';
    font-size: 30px;

}

.about-us p {
    position: absolute;
    left: 10%;
    font-family: 'Sulphur Point';
    font-weight: 700;
    width: 80%;
}

